.horNavBar {
    background-color: var(--horSideBar-color);
    height: 100%;
}

.horNavBar--wrapper {
    margin: auto;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}



.currPageHeader {
    font-size: 2em;
    height: 60px;
    font-family: 'Poppins';
    font-weight: bolder;
    color: white;
    display: grid;
    grid-template-columns: 80% 20%;
}

.horNavBar--list ul {
    margin-top: 0px;
    padding-left: 0px;
}

.horNavBar--list li {
    display: inline;
    margin-right: 1.5em;
    font-family: 'Poppins';
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: 0.3s all;
}

/* .horNavBar--list li:hover {
    border-bottom: 3px solid pink;
}
 */

 .secBorder {
     border-bottom: 3px solid pink !important; 
 }

.rightNav {
    /* background-color: red; */
}

.rightNavGrid {
    /* background-color: blue; */
    display: grid;
    height: 100%;
    grid-template-columns: 30% 30%;
}

.rightNavGridIcon {
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: 0.3s all;
}

.ReactModal__Overlay--after-open {
    background-color: rgba(0,0,0,0) !important;
}