.horNavBar {
    background-color: var(--horSideBar-color);
}

.horNavBar--wrapper {
    width: 95%;
    margin: auto;
    margin-top: 1em;
}

.currPageHeader {
    font-size: 2em;
    font-family: 'Poppins';
    font-weight: bolder;
    color: white;
}

.horNavBar--list ul {
    padding-left: 0px;
}

.horNavBar--list li {
    display: inline;
    margin-right: 1.5em;
    font-family: 'Roboto';
    color: rgba(255,255,255,0.6);
}

