.dbTestContainer {
  background-color: var(--contentBg-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
  overflow: scroll;
}

.dbTable {
  background-color: white;
}

.reactTableContainer {
}
.ReactTable {
  border: 0px solid white !important;
  border-radius: 10px;
  background-color: var(--box-color);
  width: 100%;
  height: 500px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.rt-thead {
  background-color: var(--sideBar-color);
  height: 50px;
}

.rt-th {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: left;
  opacity: 0.7;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 0px solid !important;
  transition: all 0.3s !important;
  padding: 10px !important;
}

.rt-th:nth-child(3),
.rt-td:nth-child(3) {
  text-align: right;
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  border-top: 2px solid var(--sideBarHoverAccent-color);
  box-shadow: none !important;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  border-bottom: 2px solid var(--sideBarHoverAccent-color);
  box-shadow: none !important;
}

.rt-tbody {
  background-color: var(--box-color);
  border-radius: 0px 0px 10px 10px;
}

.rt-td {
  font-family: "Poppins";
}

.rt-tr-group {
  border-bottom: 0px solid white !important;
  padding: 5px;
  margin-top: 10px;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.rt-tr-group:hover {
  background-color: var(--tableRowHov-color);
}

.rt-td {
  border-right: 0px solid white !important;
  color: white;
}


.addStudentsContainer {
    width: 100%;
    
}