.studentsContainer {
    background-color: var(--contentBg-color);
    display: grid;
    grid-template-columns: 30% 70%
}

.studentsForm {
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--box-color);
}

.studentsForm input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    color: var(--inputFont-color);
    background-color: #1B2137;
    outline: none;
    -webkit-appearance: none;
    -webkit-transition: all 0.3s;
    font-family: 'Roboto';
    font-weight: 500;

}

.studentsForm input::placeholder {
    color: var(--inputFont-color);
    opacity: 0.6;
}

.studentsForm input[type="button"] {
    width: 30%;
    border-radius: 5px;
    padding: 6px 10px;
    font-family: 'Poppins';
    cursor: pointer;
    color: white;
    background-color: #019875;
    float: right;
}

.studentsForm input[type="button"]:hover {
    filter: brightness(0.85)
}

.studentsForm .boxHeading {
    background-color: var(--sideBar-color);
    border-radius: 10px;
}

.studentsForm .boxHeading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    opacity: 0.7;
    color: white;
    margin-left: 10px;
}

.studentsFormWrap:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

.studentsTable {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--box-color);
}


.currStudents--tableHeading {
    background-color: var(--sideBar-color);
}

.currStudents--tableHeading th:first-child {
    border-radius: 10px 0px 0px 10px
}

.currStudents--tableHeading th:last-child {
    border-radius: 0px 10px 10px 0px
}

.currStudents--tableHeading th {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    opacity: 0.7;
}

.currStudents--tableHeading th:nth-child(3) {
    text-align: right;
}


.currStudents--tableHeading td {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.currStudents--head {
    width: 100%;
}

tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

tbody:after {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

.currStudents--body tr:hover {
    transition: all 0.3s;
    background-color: #2c3453;
}

.currStudents--body tr:last-child {
    border-radius: 0px 10px 10px 0px
}

.currStudents--body td:first-child {
    border-radius: 10px 0px 0px 10px
}

.currStudents--body td:last-child {
    border-radius: 0px 10px 10px 0px
}

.currStudents--body td:nth-child(3),
.currStudents--body td:nth-child(4) {
    text-align: right;
}

.currStudents--hiddenText {
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.currStudents--body tr:hover .currStudents--hiddenText{
    opacity: 1;
}




table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    color: white;
}


th,
td {
    text-align: left;
    padding: 12px 10px;
}

caption {
    padding: 1rem 0;
    caption-side: bottom;
    color: #ababab;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.contain-table {
    overflow-x: auto;
}

@media (min-width: 600px) {
    .contain-table {
        width: 100%;
    }
}