@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Poppins');

:root {
  --sideBar-color: #252C46;
  --sideBarText-color: #BEBEBE;
  --sideBarTextHover-color: white;
  --sideBarHoverAccent-color: #39446c;
  
  --contentBg-color: #1B2137;
  --box-color: #1e2439;
  --inputFont-color: #eff6f7
}

[tabindex] {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
